Source: ros-hydro-hack-the-web-program-executor
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/hack_the_web_program_executor
Standards-Version: 3.9.2

Package: ros-hydro-hack-the-web-program-executor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: hack_the_web_program_executor
