Source: ros-indigo-queue-web
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/queue_web
Standards-Version: 3.9.2

Package: ros-indigo-queue-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: queue_web
